#chats-container {
    display: flex;
    min-width: 100vw;
    background: linear-gradient(to top, rgb(69, 79, 126), rgb(49, 39, 104), rgb(26, 16, 78));
    color: white;
}

#sidebar {
    width: 20%;
    height: 100vh;
}

#messages {
    background: linear-gradient(to left, rgb(25, 36, 71), rgb(21, 19, 49));
    width: 79%;
    height: 98vh;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    width: 70%;
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none; 
}

#messages-content h1 {
    font-size: 2rem;
}

#messages-content img {
    height: 150px;
}

#input-box {
    margin-top: auto;
    padding: 40px 0;
    width: 70%;
}

#input-box form {
    width: 100%;
    display: flex;
    gap: 15px;
}

#input-box input {
    padding: 15px 10px;
    width: 100%;
    background-color: rgb(45, 53, 84);
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    color: white;
}

#sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

#new-thread-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    /* position: fixed; */
    /* margin-bottom: auto; */
    border-radius: 6px;
}

#new-thread-btn:hover {
    background-color: rgb(83, 72, 145);
}

#new-thread-btn img{
    height: 40px;
}

#new-thread-btn:nth-child(2) {
    margin-left: auto;
}

.edit-icon {
    margin-left: auto;
}

/* side bar */
#user-threads {
    margin-top: 20px;
    width: 95%;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.thread-log {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    /* border: 1px solid white; */
}

.thread-log:hover {
    background-color: rgb(83, 72, 145);
}

